@tailwind base;
@tailwind components;
@tailwind utilities;

/* Generics */

body {
  background-color: rgba(17, 24, 39);
}

input {
  color: black;
  border-radius: 5px;
}

/* Custom Classes */

.marker-active {
  z-index: 1;
}

.screen-min-height-full-less-nav {
  min-height: calc(100vh - 64px);
}

.screen-max-height-full-less-nav {
  max-height: calc(100vh - 64px);
}
